.articlepagecontainer1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.articlepagecontainer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}