.navhead{
    min-height: 40px;
}
.ul {
    margin: 0;
    padding: 10px;
}
.ul li{
    display: inline;
    float: right;
}
.ul li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
}
.ul li a:hover{
    color: rgb(134, 23, 213);
}
.ul li a:active{
    color: rgb(9, 76, 175);
}
.ul li a{
    color: white;
}