.homecontainer{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
@media screen and (min-width:800px){
    .hometop{
        color: white;
        display: flex;
        justify-content:space-around;
    }
    .homeleft{
        flex: 1;
    }
    .homeright{
        flex: 1;
    }
    .description{
        margin-bottom: 120px;
    }
    .nameanimation{
    }
}
@media screen and (max-width:800px){
    .hometop{
        color: white;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .homeleft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .homeright{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description{
        margin-bottom: 120px;
    }
    .nameanimation{
    }
}