.home{
    width: 100%;
    height: 100%;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homecontainer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 100%;
    width: 95%;
}
.homebottum{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.homebottum p{
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
}
@media screen and (min-width:800px){
    .hometop{
        color: white;
        display: flex;
        justify-content:space-around;
    }
    .homeleft{
        flex: 1;
    }
    .homeright{
        flex: 1;
    }
    .description{
        margin-bottom: 120px;
    }
    .nameanimation{
    }
}
@media screen and (max-width:800px){
    .hometop{
        color: white;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .homeleft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .homeright{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description{
        margin-bottom: 120px;
    }
    .nameanimation{
    }
}